*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: rgb(100, 98, 98);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    font-size: 20px;
    text-decoration: none;
    margin-top: 50px;
    border: 1px solid gray;
    background-color: rgb(105, 100, 117);
    color: orange;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
a:active{
    transform: scale(0.7);
}
h1{
    padding: 1rem;
    font-size: 3rem;
    background: linear-gradient(to right,#69b838,#3e9a9c,#34d78b);
    border: none;
    background-clip: text;
    color: transparent;
}

caption{
    text-align: left;
    padding: 1rem 0;
}

table{
    border-collapse: collapse;
    font-size: 1.5rem;
}

th,td{
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
}
