*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,#db8b8b,#4c694c,#9a9a68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    padding: 1rem;
    font-size: 3rem;
    background: linear-gradient(to right,#69b838,#3e9a9c,#34d78b);
    border: none;
    background-clip: text;
    color: transparent;
}

caption{
    text-align: left;
    padding: 1rem 0;
}

table{
    border-collapse: collapse;
    font-size: 1.5rem;
}

th,td{
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
}